<!DOCTYPE html>
<html>
    <body>
        <div style="text-align:center;">
            <h3>Servicio de reestablecimiento de contraseña</h3>
            <div>
                <p>Estimado usuario: {username}</p>
                <p>Ha solicitado la recuperacion de contraseña para la cuenta {email}</p>
                <p>Favor de ingresar al siguiente link para continuar con el <a href='{restore_url}'> proceso de restauración</a></p>
                <p style="font-size:small; color: red;">El enlace caducará en 1 hora a partir del momento de recepción de este mensaje</p>
            </div>
        </div>
    </body>
</html>